@import "tailwindcss";

@plugin "daisyui";

@theme {
  --color-primary: oklch(0.7206 0.191 275.75);
  --color-secondary: oklch(0.6981 0.172 342.55);
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}